* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-rows: 1px 550px 100px 360px 100px 360px 100px 360px 100px auto;
  /* background-image: url("../images/sea.jpg"); */
  background-color: rgba(255, 235, 205, 0.1);
  /* position: fixed; */
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}
.item {
  /* background: #ddd; */
  /* padding: 10px; */
  font-family: "Noto Serif JP", serif;

  /* border-radius: 8px;
  border: 3px solid #ccc; */
}
.box-image {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  /* background: rgba(229, 130, 130, 0.5); */
  background-image: url("../images/top.jpg");
  /* position: fixed; */
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  /* background-attachment: fixed; */
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}
.box-gap1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  /* background: rgba(151, 145, 145, 0.5); */
  font-size: 30px;
}
.box-bigA {
  grid-row: 4 / 5;
  grid-column: 2 / 3;

  /* background: rgba(231, 244, 53, 0.5); */
  /* background-image: url("../images/shiretoko.jpg"); */

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  /* background-attachment: fixed; */
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}
.box-bigB {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  background: rgba(248, 250, 250, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.B_box p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-gap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  /* background: rgba(151, 145, 145, 0.5); */
  font-size: 30px;
}
.box-bigC {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  background: rgba(248, 250, 250, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.C_box p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-bigD {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  /* background: rgba(231, 244, 53, 0.5); */
  /* background-image: url("../images/furano.jpg"); */
  /* position: fixed; */
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  /* background-attachment: fixed; */
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}

.box-gap3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 7 / 8;
  grid-column: 2 / 4;
  /* background: rgba(151, 145, 145, 0.5); */
  font-size: 30px;
}
.box-bigE {
  grid-column: 2 / 3;
  grid-row: 8 /9;
  /* background: rgba(231, 244, 53, 0.5); */
  /* background-image: url("../images/sukiing.jpg"); */
  /* position: fixed; */
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  /* background-attachment: fixed; */
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}
.box-bigF {
  grid-column: 3 / 4;
  grid-row: 8 /9;
  background: rgba(248, 250, 250, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.F_box p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
header {
  width: 100%;
  background-color: rgba(37, 37, 37, 0.1);
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
}

header li {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 40px;
  margin-left: 40px;
  color: black;
}

footer {
  color: white;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.1);
}

footer a,
p,
i {
  color: rgba(37, 37, 37, 1);
  /* background-color: rgba(37, 37, 37, 1); */
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .box-bigA,
  .box-bigB,
  .box-bigC,
  .box-bigD,
  .box-bigE,
  .box-bigF,
  .box-bigG,
  .box-bigH,
  .box-bigI,
  .box-bigJ,
  .box-bigJ,
  .box-bigK {
    grid-column: 1;
    grid-row: auto;
  }
}

/* Layout */
body {
  /* padding: 10px; */
  font-family: sans-serif;
}

#pic_A {
  animation: imgfade 10s infinite;
  opacity: 0;
}
#pic_D {
  animation: imgfade 10s infinite;
  opacity: 0;
}
#pic_E {
  animation: imgfade 10s infinite;
  opacity: 0;
}

@keyframes imgfade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
